<h1><%= @customer.full_name %></h1>

<h3><%= @customer.created_at.strftime("Customer since %B %d, %Y") %></h3>

<h2>Order History:</h2>

<h2>
    <% @orders.each do |key, value| %>
        <li>
            <u><%= link_to key.name, bakery_path(key) %> </u><br>
            <% value.each do |value_data| %>
                <li>
                    <%=link_to (@items.find(value_data.item_id).name), 
                    item_path(@items.find(value_data.item_id))%> - ordered on
                    <%=value_data.created_at.strftime("%D")%>
                </li>
            <% end %>
        </li>
    <% end %>
</h2>

<%= link_to('Delete Account', customer_path(@customer), method: "delete") %>
